.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f7f7f7;
}
.container .row{
    width: 85%;
    margin: auto;
}
.container .row .heading-section{
    width: 60%;
    text-align: center;
    margin: auto;
}
.container .row .heading-section h1{
    padding-top: 30px;
    font-size: 42px;
}
.container .row .heading-section span{
    color: #868405;
}
.container .row .heading-section p{
    margin-top: 15px;
    color: #3d33d3;
    font-size: 17px;
    line-height: 1.5;
}
.content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.content-section .card{
    flex: 3;
    margin: 50px 20px;
}
.content-section .card:first-child{
    position: relative;
    top: 20px;
}
.container .card:last-child{
    position: relative;
    bottom: 32px;
}
.content-section .card img{
    width: 100%;
    height: auto;
}
.content-section .card h4{
    margin-top: 20px;
}
.content-section .card p{
    font-size: 15px;
    margin-top: 10px;
    color: #100b5f;
    line-height: 1.5;
}